<!-- Andjela Ciric 2021/0066 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2 style="color: darkblue">{{ type }}</h2>
<p>{{ type }} za komentar <b>{{ comment.sadrzaj }}</b>, za članak <b><i>{{ title }}</i></b>. <br>
Razlog prijave je <b>{{ reason.opis }}</b>. <br>
Članku možete pristupiti na sledećem  <a href="{{ url }}">linku</a>.</p>
<p>Srdačan pozdrav,<br>
Tim Odiseja <br>
<img id="naslov-logo" src="cid:logo.png" alt="logo" width="60" height="60"/>
</p>

</body>
</html>