<!-- Andjela Ciric 2021/0066 -->
{% extends 'base.html' %}

{% block extras %}

<script>
    let id_article = "{{ id_article }}"
    const csrf_token = "{{ csrf_token }}"

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("prijavi_button_ID").addEventListener("click", function () {
            let reason = document.getElementById("opis_prijave_nepravilnosti").value;
            if(reason == null || reason.length==0){
                document.getElementById("opis_prijave_nepravilnosti").placeholder="Morate uneti nešto kao razlog prijave"
            }
            else {
                fetch('api/prijavi_nepravilnost_clanka_potvrda/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrf_token
                },
                body:JSON.stringify({
                    id_article:id_article,
                    reason:reason
                })
            }).then(response => {
                if(response.ok){
                    console.log("Uspesno prijavljena nepravilnost clanka");
                    document.getElementById("prijava_f").setAttribute("style", "display:none;")
                    document.getElementById("uspesna_prijava").setAttribute("style", "display:block;")
                }else{
                    console.error("Greska tokom prijavljivanja nepravilnosti članka");
                    window.location = document.referrer;
                }
            }).catch(error => {
               console.error("Greska", error);
            });
            }

        });
        document.getElementById("odustani_button_ID").addEventListener("click", function (){
            window.location = document.referrer;
        });

        document.getElementById("opis_prijave_nepravilnosti").addEventListener("input", function() {
            let currLen = this.value.length;
            let chrLeft = 300 - currLen;
            let counter= document.getElementById("character-counter");
            counter.textContent = chrLeft + "/300";
            if (chrLeft <= 0) {
                this.value = this.value.substring(0, 300);
                counter.textContent = "0/300";
                this.addEventListener("keydown", noMoreInput);
            } 
            else {
                counter.textContent = chrLeft + "/300";
                this.removeEventListener("keydown", noMoreInput);
            }
        });
        
        function noMoreInput(event) {
            if (event.keyCode !== 8) {
                event.preventDefault();
            }
        }


    });

</script>
{% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="{% static '/style/pregled_clanka.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/style/ui_stilovi.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container bird-container">
    <div class="container bird-info" id="prijava_f">
        <div class="row">
            <div class="col-12 prijava_naslov_col">
                <h2 style="color: #022b16; font-weight: bold" class="prijava_naslov">Prijava nepravilnosti</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 prijava_div">
                <div class="form-group">
                    <label for="opis_prijave_nepravilnosti" style="font-weight: bold;">Razlog prijave nepravilnosti:</label>
                    <div id="character-counter" style="font-size: 17px; color: gray; margin-top: 10px;">300/300</div>
                    <textarea class="form-control" rows="6" id="opis_prijave_nepravilnosti" placeholder="Unesite razlog prijave nepravilnosti"></textarea>
                </div>
                <div id="greska_pri_prijavi" style="color: #ff2020; text-align: center;"></div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-success mr-2 prijava_button" id="prijavi_button_ID"><i class="fas fa-check"></i> Prijavi</button>
                    <button type="button" class="btn btn-secondary prijava_button" id="odustani_button_ID"><i class="fas fa-times"></i> Odustani</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row container bird-info" style="display: none" id="uspesna_prijava">
        <div class="col-12 prijava_div">
            <div class="alert alert-success" role="alert">
                Uspešno ste prijavili nepravilnost.
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success prijava_button" id="povratak_button_ID"><i class="fas fa-arrow-left"></i> Povratak</button>
                <script>
                    document.getElementById('povratak_button_ID').addEventListener('click',function(){
                        window.location = document.referrer;
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}